<!-- SERVICES -->
<section class="services container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="service">
                        <img alt="" src="{{ asset('img/pictos/garantie.png') }}">
                        <h4>Garantie 12 mois</h4>
                        <p>Tous nos véhicules sont garantis pièces et main d’œuvre</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="service">
                        <img alt="" src="{{ asset('img/pictos/financement.png') }}">
                        <h4>Financement</h4>
                        <p>Trouvez l’offre la plus adapté à votre budget</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="service">
                        <img alt="" src="{{ asset('img/pictos/sav.png') }}">
                        <h4>Sav / atelier</h4>
                        <p>Prenez soin de votre véhicule avec nos offres d’entretien</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="service">
                        <img alt="" src="{{ asset('img/pictos/carte-grise.png') }}">
                        <h4>Carte grise</h4>
                        <p>Le Garage Carriat s’occupe des démarches nécessaires pour votre carte grise</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
