body { background-color: #f8f8f8;}
/* GENERAL */
h1, p, ul li { font-family: 'Montserrat', sans-serif; color: #333333;}
a { color: #ffffff; font-family: 'Montserrat', sans-serif}
a:hover { color: white;}

/* NAVBAR */
nav { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
.navbar-light .navbar-nav .nav-link  { color: white; font-family: 'Montserrat-bold', sans-serif;}
.navbar-light .navbar-nav .nav-link:hover  { color: white;}
#navbrand { font-family: 'Montserrat', sans-serif; color: #ffffff; }

/* FOOTER */
footer { background-color: #1F65A1; }
footer p { color: white;}
#google-map { border-radius: 5px; }
#legales a { font-size: 0.9em; }
.legales ul li {list-style: none; }
.legales hr { border: 1px solid #1F65A1}

/* Formations */
#formations table tr { font-size: 0.85em; }
#formations table td { font-size: 0.8em; }

/* Questionnaires */
#questionnaires table a { color: black; }

/* Histoire du Lycée */
#main-content { background-color: #f8f8f8; }
#main-content h1 { color: #333333;}
#main-content p { color: #333333;}