/*body { background-image: url('../img/background.png')}*/
body { background-color: #f8f8f8;}
/* GENERAL */
h1, p, ul li { font-family: 'Montserrat', sans-serif; color: #333333;}
a { color: #ffffff; font-family: 'Montserrat', sans-serif}
a:hover { color: white;}
.block { background-color: #ffffff;}

/* NAVBAR */
/*#header-img {border-top-left-radius: 15px; border-top-right-radius: 15px;}*/
nav { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
.navbar-light .navbar-nav .nav-link  { color: white; font-family: 'Montserrat-bold', sans-serif;}
.navbar-light .navbar-nav .nav-link:hover  { font-size: 1.05em; color: white; text-decoration: underline;}

/* FOOTER */
footer { background-color: #1F65A1; }
footer p { color: white;}
#google-map { border-radius: 5px; }

/* Formations */
#formations table tr { font-size: 0.85em; }
#formations table td { font-size: 0.8em; }

/* MLDS */
#mlds p { color: black; }

/* Questionnaires */
#questionnaires table a { color: black; }

/* Histoire du Lycée */
#main-content { background-color: #f1f2f3; }
#main-content h1 { color: black;}
#main-content p { color: black;}