    <div class="container-fluid">
        <footer>

            <div class="row justify-content-center pt-4">
                <div class="col-3 text-center">
                    <img src="{{ asset('img/icon/school.svg') }}" class="mb-1" alt="" width="40px">
                    <p>Lycée Professionnel <br />Marcel Pardé</p>
                </div>
                <div class="col-3 text-center">
                    <img src="{{ asset('img/icon/message.svg') }}" class="mb-1" alt="" width="40px">
                    <p>47 Avenue Alsace Lorraine <br />01011 Bourg-En-Bresse Cedex</p>
                </div>
                <div class="col-3 text-center">
                    <img src="{{ asset('img/icon/telephone.svg') }}" class="mb-1" alt="" width="40px">
                    <p>Tel  : 04-74-32-76-75<br />Fax : 04-74-21-58-12 </p>
                </div>
            </div>

            <div class="col-12 text-center">
                <iframe width="80%" height="200px" id="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2761.45616675769!2d5.218390815474044!3d46.20137977911657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f353d271349057%3A0x440e12e76c81119!2sLyc%C3%A9e+Marcelle+Pard%C3%A9!5e0!3m2!1sfr!2sfr!4v1552316830556" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div class="col-12 text-center">
                <p>
                    <a href="{{ path('login') }}">Espace Administration |</a>
                    <a href="">Charte d'utilisation & Mentions légales |</a>
                    © 2019 Copyright marcelleparde.fr
                </p>
            </div>

        </footer>
    </div>