{% extends 'base-admin.html.twig' %}

{% block title %}AdminController{% endblock %}

{% block body %}
    <h1>Edition de la Page ... </h1>

    <div class="row">
        <p>hello world</p>
    </div>

{% endblock %}
