{% extends 'base-admin.html.twig' %}

{% block title %}AdminController{% endblock %}

{% block body %}
    <h1>Page</h1>
    <div class="row">
        <a href="">
            <div class="card card-add">
                <img src="{{ asset('img/icon/add.png') }}"/>
            </div>
        </a>
        {% for page in pages %}
            <div class="card card-basic">
                <h2>{{ page.title }}</h2>
                <a href="" id="delete-page" class="btn btn-danger"><img src="{{ asset('img/icon/remove.png') }}" class="icon"/>Suppression</a>
                <a href="" id="edit-page" class="btn btn-info"><img src="{{ asset('img/icon/valid.png') }}" class="icon"/>Edition</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
