{% extends 'base-admin.html.twig' %}

{% block title %}QR Codes{% endblock %}

{% block body %}
    <h1>QR Codes</h1>
    <p>Cliquez sur les liens pour avoir le QR Code de chaque page.</p>
    <h2>Filières</h2>
    <ul class="list-group">
        {% for filiere in filieres %}
            <a href="{{ path('qrcoderendering') }}?url={{ path('filiere', { 'id': filiere.getId, 'title': filiere.getUrlSlug }) }}">
                <li class="list-group-item">{{ filiere.getTitle }}</li>
            </a>
        {% endfor %}
    </ul>
    {# <img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=http%3A%2F%2Fwww.makestuff.in&choe=UTF-8&chld=M|6" alt="QR Code" /> #}
{% endblock %}
