{% extends 'base-admin.html.twig' %}

{% block title %}QR Code généré{% endblock %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('qrcodelist') }}">Retour</a>
    <p>Url associée : <a href="{{ url }}">{{ url }}</a></p>
    {# <img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=http%3A%2F%2Fwww.makestuff.in&choe=UTF-8&chld=M|6" alt="QR Code" /> #}
{% endblock %}
