<div id="wrapper" class="active">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
            <li class="sidebar-brand"><img src="../public/img/logo-admin.png" id="logo-img"/></li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">
            <li><a><img src="../public/img/icon/home.png" class="icon"/>Dashboard</a></li>
            <li><a><img src="../public/img/icon/file.png" class="icon"/>Page</a></li>
            <li><a><img src="../public/img/icon/event.png" class="icon"/>Evenement</a></li>
            <li><a><img src="../public/img/icon/poll.png" class="icon"/>Sondage</a></li>
        </ul>
    </div>
</div>