{% extends 'front/base.html.twig' %}

{% block title %}Histoire du lycée{% endblock %}

{% block body %}
    <div class="container-fluid" id="main-content">

        <div class="row mt-4 mb-4 text-justify justify-content-around  align-items-center" >
            <div class="col-12 col-lg-9">
                <img src="{{ asset('img/level_rdc.jpg') }}" class="img-fluid" alt="">
            </div>
        </div>

        <br />

        <div class="row mt-4 mb-4 text-justify justify-content-around  align-items-center" >
            <div class="col-12 col-lg-9">
                <img src="{{ asset('img/level_1.jpg') }}" class="img-fluid" alt="">
            </div>
        </div>

        <br />

        <div class="row mt-4 mb-4 text-justify justify-content-around  align-items-center" >
            <div class="col-12 col-lg-9">
                <img src="{{ asset('img/level_2.jpg') }}" class="img-fluid" alt="">
            </div>
        </div>

        <br />

        <div class="row mt-4 mb-4 text-justify justify-content-around  align-items-center" >
            <div class="col-12 col-lg-9">
                <img src="{{ asset('img/level_3.jpg') }}" class="img-fluid" alt="">
            </div>
        </div>

    </div>

{% endblock %}
