{% extends 'front/base.html.twig' %}

{% block title %}ULIS - Unité localisée pour l’inclusion scolaire{% endblock %}

{% block body %}
    <div class="mx-3 px-3">

        <div class="row justify-content-center text-justify">

            <div class="card col-12 shadow p-3 m-3 hvr-underline-from-center">
                <div class="card-body">
                    <h1 class="card-title text-center h3">ULIS - Unité localisée pour l’inclusion scolaire</h1>
                    <p>
                        L’ULIS LP en réseau M. Pardé, vise, dans le cadre du lycée professionnel à l’insertion sociale et professionnelle pour
                        des jeunes présentant notamment des troubles importants des fonctions cognitives. L’ULIS LP est un dispositif qui
                        accompagne 10 élèves inscrits dans une classe de référence.<br />
                        Les élèves accompagnés par l’ULIS LP, suivent la quasi-totalité de leurs cours en classe en étant accompagnés par le
                        personnel ULI LP.
                        Chaque élève accompagné par l’ULIS LP effectue sa formation dans son lycée professionnel. L’enseignant – coordonnateur
                        et l’auxiliaire de vie scolaire se déplacent dans les établissements pour travailler avec l’élève.
                    </p>
                </div>
            </div>

        </div>

        <div class="row justify-content-around text-justify mt-4">

            <div class="card-deck">
                <div class="card">
                    <div class="row mt-2 justify-content-center">
                        <div><img src="{{ asset('img/icon/old-school.svg') }}" alt="" class="mx-auto" width="50px"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center h4">L’ULIS LP M. Pardé intervient dans les LP :</h2>
                        <ul>
                            <li>G. Voisin</li>
                            <li>J.M. Carriat</li>
                            <li>Sardières</li>
                            <li>G. Charpak</li>
                            <li>Saint-Joseph</li>
                            <li>M. Pardé</li>
                        </ul>
                    </div>
                </div>

                <div class="card">
                    <div class="row mt-2 justify-content-center">
                        <div><img src="{{ asset('img/icon/join.svg') }}" alt="" class="mx-auto" width="50px"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center h4">Comment un élève rejoint-il l’ULIS LP ?</h2>
                        <p>
                            C’est la famille ou l’élève majeur qui effectue cette demande à la MDPH  (remplir un dossier).
                            La MDPH peut présenter alors une (ou plusieurs) proposition(s) dont le dispositif adapté ULIS Lycée Professionnel dans le cadre d’un Projet Personnalisé de Scolarisation (PPS). Le PPS est rédigé par la MDPH.
                            Parallèlement à cette demande à la MDPH, l’élève aura formulé au moins un souhait d’orientation dans une formation professionnelle par l’intermédiaire de son collège avec l’application PAM-AFFELNET.
                            La famille ou l’élève majeur doit donc être le destinataire d’une notification MDPH stipulant la présence de l’élève au sein de l’ULIS LP d’une part, et être inscrit dans un lycée professionnel pour suivre une formation professionnelle d’autre part.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="row mt-2 justify-content-center">
                        <div><img src="{{ asset('img/icon/question-mark.svg') }}" alt="" class="mx-auto" width="50px"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center h4">Pour quelles formations les élèves sont-ils accompagnés par l’ULIS LP ?</h2>
                        <p>
                            Les formations CAP suivantes sont concernées : CAP Vente spécialisée biens d’équipement courant, CAP Maintenance
                            des Matériels (Espaces Verts et Agricoles et Travaux Publics), Bac Métiers de la Mode, etc…
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}
